<!DOCTYPE html>
<html lang="en-US">
<head>
 <title>Pick Of The Garden</title>
 <link rel="stylesheet" type="text/css" href="/css/my_stylesheet.css">

</head>

<body>
  <%= yield%>
  <br>
  
</body>

<footer><a href="/">Go Back To The Main Page</a></footer>
</html>