<!DOCTYPE html>
<html lang="en-US">
<head>
 <title>Pick Of The Garden</title>
 <link rel="stylesheet" type="text/css" href="/css/my_stylesheet.css">
</head>
<header>
  <div class="banner"><br>
    <br><br><br><br><br>
    <br>
  </div>
    <h1>Welcome to The Pick of the Garden!</h1>
</header>
<body>
 
  <p><%= session[:user_id] %></p>
  <%= yield%>
</body>

<footer><a href="/">Go Back To The Main Page</a></footer>
</html>


 <!-- <p><%= session.inspect %></p> -->