<h2>Ready to start your garden?</h2>
<p>Start by saving your garden's name, and then you're ready to pick some flowers!</p>
<br>
<p><img src="/images/bibler_gardens.jpg" alt = "bibler gardens" height = "400" width = "500">

<form action="/show_confirm_new_garden">
  <input type = "text" name = "name" placeholder = "Enter the name of your garden here">
  <input type = "hidden" name = "table" value = "gardens">
  <input type = "submit" value = "Go!">
  
  
</form>