<h2>Your garden "<%= @gard.name %>" has been saved!</h2>
  <br>
  <p>Click <form action ="/plant_search"><input type="hidden" name="table" value="plants"><input type = "submit" value = "HERE"></form> to start viewing plants to add to your garden, or <br>
   Or, click here to select a garden to view its plants.</p>