<h2> Here is your garden!</h2>
  <p>To add more flowers click here</p>
  <form action="/plant_search">
  <input type = "hidden" name = "table" value = "plants">
  <input type="submit" value="Click here">  
  </form>
  <br>
  <br>
  <h2>To make changes to your garden click here.</h2>