<h1>Welcome to the Pick of the Garden</h1>
  <h2>Use this handy selector guide to plan your next garden:</h2>   
  
  <br>
  <br>
  <br>
  <h2>Browse our list of plants by category.</h2>
  
     <br>
     <br>
     
     <!--    <a href ="/add_prod">To add a new product</a> -->    
     
  <h2>View all plants.</h2>

   <form action = "/plant_search">
      <input type = "hidden" name = "table" value = "plants">
      <input type="submit" value="Click here">     
  </form>
  <br>
  <br>
  <h2>View your garden.</h2>
  <form>
  </form>
  <br>
  <br>
  <h2>Browse plants by sun level, color, most popular</h2>
  <form>
  </form>
  
  
      <table>  <!-- want table to autofill-->
        
        
        <tr>
        </tr>
        
        <tr>
        </tr>
    </table>
    
    <form>
    
   </form> 
    
