
  <h2>Use this handy selector guide to plan your next garden:</h2>   
  
  <br>
  <br>
  <br>
  <h2>Browse our list of plants by category.</h2>
  <form action = "/cat_select">
    <input type = "submit" value = "Click here">
  </form>
     <br>
     <br>
     
     <!--    <a href ="/add_prod">To add a new product</a> -->    
     
  <h2>View all plants.</h2>

   <form action = "/plant_search">
      <input type = "hidden" name = "table" value = "plants">
      <input type="submit" value="Click here">     
  </form>
  <br>
  <br>
  <h2>Create a garden.</h2>

   <form action = "/create_garden">
      
      <input type="submit" value="Click here">     
  </form>
  <br>
  <br>
  <h2>View your garden.</h2>
  <form action = "/view_garden">
    <input type="hidden" name="table" value="gardens">
    <input type = "submit" value="Click here">
  </form>
  <br>
  <br>
  <h2>Browse plants by sun level, color, most popular, and more!</h2>
  <form action = "/">
    <input type = "submit" value="Coming Soon!">
    
  </form>
    
