<h1>Welcome to the Pick of the Garden</h1>
  <h2>Use this handy selector guide to plan your next garden:</h2>      
  
      <table>  <!-- want table to autofill-->
        <tr>
          <th>Plant</th>
          <th>Preferred Sun</th>
          <th>More info</th>
          <th>See it here</th>
          <th>Category</th>
        </tr>
        
        <tr>
          <td>Foxglove</td>
          <td>Part Shade</td>
          <td><a href = "en.wikipedia.org/wiki/Digitalis">Digitalis</a></td>
          <td><a href = "http://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Digitalis_purpurea2.jpg/220px-Digitalis_purpurea2.jpg">see it</a></td>
         <td> 4 </td>  <!-- want category name not key -->
        </tr>
        
        <tr>
          <td>Creeping Phlox</td>
          <td>Full Sun</td>
          <td><a href = "en.wikipedia.org/wiki/Phlox_stolonifera">Phlox stolonifera</a></td>
          <td><a href = "http://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Creeping_Phlox_Phlox_stolonifera_Flowers_3008px.jpg/220px-Creeping_Phlox_Phlox_stolonifera_Flowers_3008px.jpg">see it</a></td>
         <td>1</td>  <!-- want category name not key -->
        </tr>
    </table>
    
    <form>
    
   </form> 
    
