body {
  font-family: "Times New Roman", Times, serif;
  background-color: #cff09e; /*seafoam green */
}

h1, h2 {
  text-align: left;
  margin: 10px;
  font-weight: bold;
  color: #0b486b;  /*brown #663300*/
}

header {
  font-size: 120%;
  text-align: left;
  font-weight: bold;
  color: #0b486b; 
  border-bottom: solid 10px #0b486b;
  
}

div {
  background-image: url("/images/flower_border.jpg");
}

table {
  width: 65%;
 /* position: relative;
  top: -10em;
  margin-top: 0px;*/
}

table, td, th {
  border-collapse: collapse;
  border: 2px solid #0b486b;
}

th {
  height: 50px;
}

td {
  text-align: center;
  height: 20px;
}

footer {
  margin: 50px;
  text-align: center;
}

input {
  color: #0b486b;
  border: 2px solid #3b8686;
  height: 30px;
  width: 100px;
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 10px;
}

p {
  text-align: left;
}

img {  
  float: right;
  margin-right: 20px;
  border: 5px solid #3b8686;
  
}

#grad1 {
    border: 20px;
    height: 200px;
    background: -webkit-linear-gradient(left, red, pink, orange); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, pink, orange); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, pink, orange); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red, pink, orange); /* Standard syntax (must be last) */
}