body {
  font-family: "Times New Roman", Times, serif;
  background-color: #c1ff84; /*light green*/
}

h1, h2 {
  text-align: left;
  font-weight: bold;
  color: #663300;  /*brown */
}

table {
  width: 85%;
}

table, td, th {
  border-collapse: collapse;
  border: 1px solid #663300;
}

th {
  height: 100px;
}

td {
  text-align: center;
}

footer {
  margin: 100px;
  text-align: center;
}

p {
  text-align: center;
  margin: 5px;
  border-style: dotted color: blue; 
}

ul {
  list-style-type: none;
  font-weight: bold;
  font-size: 32px;
  padding: 15px;
}

li {
  font-weight: normal;
  line-height: 150%;
  font-size: 20px;
  color: rgb(255, 0, 255);
}

#grad1 {
    border: 20px;
    height: 200px;
    background: -webkit-linear-gradient(left, red, pink, orange); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, pink, orange); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, pink, orange); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red, pink, orange); /* Standard syntax (must be last) */
}