<h1>New User</h1>

<form action="/show_confirm_new_user" method="post">
  <label for="name">Name:</label><br>
  <input type="text" name="name"><br>
  
  <!-- <label for="email">Email:</label><br>
  <input type="text" name="email"><br> -->
  
  <label for="password">Password:</label><br>
  <input type="password" name="password"><br>
  
  <input type="submit">
  
</form>

<a href="/">Back to home</a>