<h2>Ok, you've got a garden all set up!</h2>
 
 <h2>Let's pick out some flowers!!</h2>
 

   <form action="/show_select_plants/<%= @new_garden.id%>">
   <input type = "hidden" name = "table" value = "plants">
   <input type="submit" value="Click here">  
   </form>
   
   
   

   
