<h2>Your garden "<u><%= @new_garden.name %></u>" has been saved!</h2>
  <br>
  
    <table>
       <% @results.each do |r| %>
     <tr>
      <td> <%= r.garden_id %> </td> 
      <td><%= r.plant_id %> </td>
    </tr>
    <%end %>
  </table>

  <p>Go here to start viewing plants to add to your garden</p><br>

   <form action ="/show_select_plants/<%= @new_garden.id %>">
     <input type="hidden" name="table" value="plants">
     <input type = "submit" value = "Click here">
   </form>
   