<h2>Choose your plants by where you want to place them in your garden!</h2>
  
 <p> We have divided the plants into four convenient categories for you. </p>
 <br>
 <ul>
   <li><a href="#Ground">Ground Cover</a></li>
   <li><a href="#Front">Front of the Garden</a></li>
   <li><a href="#Middle">Middle of the Garden</a></li>
   <li><a href="#Back">Back of the Garden</a></li>
 </ul>
     
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget urna ante. Donec facilisis eget leo in sagittis. In vitae turpis vitae ante iaculis tincidunt. Fusce pharetra molestie fermentum. Nullam nec finibus magna, at rhoncus sem. Praesent posuere quam suscipit, commodo metus ac, porttitor ipsum. Mauris tristique commodo interdum. Sed vitae elit sed nulla fringilla suscipit nec ac mi. Sed imperdiet condimentum metus, sit amet congue neque rutrum nec. <img src = "/images/flower_garden.jpg" alt="flower garden" height = "250" width = "350"></p>

<p>Nullam non tristique nunc, quis sagittis magna. Donec semper varius ex eget commodo. Ut blandit mauris vitae ullamcorper bibendum. Nam non odio est. Nulla luctus laoreet urna id ornare. Proin arcu leo, faucibus vitae enim non, ullamcorper semper lorem. Pellentesque pulvinar ultricies tellus, id tempus ante aliquam eu. Etiam at nibh mauris.</p>
     <br>
     <p><b><a name="Ground">Ground Cover</a></b></p>
     <p>Ground Cover plants are a great option in many situations. They work well along rock walls, retainers, slopes, and borders!  As you can imagine, they'll fill in any awkward landscaping spot you have, and fight off weeds from the rest of the garden!</p>
     <p>Curabitur vitae fermentum dolor. Nullam mauris eros, tempor non rutrum et, tristique at libero. Donec eu rhoncus eros. Etiam suscipit, lacus ac vehicula congue, odio mauris lacinia nunc, quis condimentum ante tortor a est. Proin libero libero, posuere posuere est vel, lacinia gravida nulla. Donec nisi ligula, sodales id finibus a, sagittis nec mauris. Fusce accumsan elementum augue, et gravida leo dictum vestibulum.</p>
     <br>
     <p><b><a name="Front">Front of the Garden</a></b></p>
     <p>The general rule of thumb is short in the front, tall in the back.  That way, all your flowers get full attention, and nothing's hidden.  Great plants for the front of the garden usually grow to be less than 18 inches high. 
     <br>
     <p><b><a name="Middle">Middle of the Garden</a></b></p>
     <p>There are many beautiful choices for the middle area of your garden.  These plants are usually less than 3-4' high, and may have showy flowers, or be evergreens and shrub.</p>
     <br>
     <p><b><a name="Back">Back of the Garden</a></b></p>
     <p>Beautiful, tall flowers are great for the back of the garden (or the center if your landscaping area is round).  Flowers like the lily are a great example.</p>
     <p>Morbi ut gravida lorem, sit amet dapibus risus. Nullam ultricies sagittis malesuada. Quisque tincidunt consectetur ex. Quisque ac lectus vel lacus pharetra euismod. Nunc fermentum condimentum lectus, in consectetur velit elementum ac. Suspendisse in ultrices elit. Donec pharetra ex id elit laoreet, eu iaculis lacus eleifend. Nam luctus erat cursus sem lacinia hendrerit. Vivamus non vestibulum eros. Aenean vitae velit in mauris scelerisque sodales. Etiam vestibulum ac ex et lobortis. Nam et tortor ac orci iaculis facilisis vulputate semper ligula. Pellentesque quis blandit risus. Nullam at metus dictum, ultrices turpis eget, vulputate dolor.</p>
     <p>Donec vulputate interdum diam at pharetra. Nunc urna elit, scelerisque eu augue accumsan, tincidunt efficitur urna. Nunc facilisis ipsum nisl. Vestibulum ut efficitur lectus, nec aliquet elit. Sed consectetur condimentum lectus in lacinia. Curabitur dui massa, sollicitudin id leo at, gravida hendrerit leo. Quisque vestibulum non metus at dignissim. Nunc id eleifend quam. Maecenas suscipit ante ac lacus tincidunt, at placerat libero laoreet. Phasellus id quam eu erat pulvinar finibus et lacinia odio. Nulla sit amet nisl augue. Praesent non orci sapien. Aenean convallis tortor dapibus ante placerat auctor. In condimentum gravida condimentum.</p>
     <br>
     <h2>Select the category of plants you'd like to see: </h2>
     <br>
     <p>Please enter <b>1</b> for Ground Cover, <b>2</b> for Front of the Garden Plants, <b>3</b> for Middle of the Garden Plants, or <b>4</b> for the Back of the Garden.<p>
     <form action = "/show_plants_by_category">
       <input type="hidden" name="table" value="plants">
       <input type="hidden" name="search_for" value="category_id">
       <input type="text" name="user_search" placeholder="Example: 2"> 
       <label for="Example: 2">Category ID</label>
       <input type="submit" value="GO!">
     </form>